<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="FolderPath" value="UploadFiles\" />
		<add key="FileSize" value="20" />
		<add key="SessionDuration" value="60" />
		<add key="strConn" value="server=ey-vac-srv.database.windows.net;database=db_EY_VAC_MSIL_Prod;uid=dummy;pwd=12345;connection timeout=0" />
		<add key="FromAddress" value="Communications@ey-virtualsolutions.com" />
		<add key="PortNo" value="587" />

		<add key="MailServer" value="smtpout.secureserver.net" />
		<add key="MailUser" value="admin@ey-virtualsolutions.com" />
		<add key="MailPassword" value="Ast!x@123456" />

		<add key="MailTo" value="mukhtyar@astix.in,abhishek@astix.in" />
		<add key="MailCc" value="mukhtyar@astix.in" />
		<add key="MailBcc" value="mukhtyar@astix.in,abhishek@astix.in" />
		<add key="SupportMail" value="astix@astixsolutions.com" />
		<add key="SupportContactNo" value="999999" />
		<add key="flgActualUser" value="1" />
		<!--1 for actual and 2 for Test-->

		<add key="TestURL" value="https://ey-virtualsolutions.com/MSIL-MGR_AGM" />
		<add key="ErrMailTo" value="mukhtyar@astix.in" />
		
		<add key="apiRole" value="1"/>
		<add key="apiUser" value="admin@in.ey.com"/>
		<add key="apiPassword" value="Eyadmin@9876"/>
		<add key="apiAuthentication" value="https://eyadminapi.eklavvya.com/Institute/Login"/>
		<add key="AssignCandidateToExamEY" value="https://eyadminapi.eklavvya.com/EY/AssignCandidateToExamEY"/>
		<add key="CreateCandidateDataEY" value="https://eyadminapi.eklavvya.com/EY/CreateCandidateDataEY"/>
		<add key="ReportGenerationEY" value="https://eyadminapi.eklavvya.com/EY/MSILReportGenerationEY"/>
		
		<add key="LogPath" value="F:\Applications\WebApplications\HRApplications\Eyvirtualsolutions\MSILAssessments\Portal\"/>
		<add key="IsLogEnabled" value="1"/>


		<add key="ParticipantInviteMailBodyText_ReachoutValue" value="Vinayak (EY SPOC) at + 91 123456789"/>
		<!--1 for enabled and 0 for disabled-->
	</appSettings>
	<connectionStrings>
		<add name="strConn" connectionString="server=ey-vac-srv.database.windows.net;database=db_EY_VAC_MSIL_Prod;uid=dummy;pwd=12345;connection timeout=0" />
	</connectionStrings>

	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483644" />
			</webServices>
		</scripting>
	</system.web.extensions>

	<system.web>
		<customErrors mode="Off" defaultRedirect="~/error.aspx">
		</customErrors>

		<compilation debug="true" targetFramework="4.6">
			<codeSubDirectories>
				<add directoryName="VBCode" />
				<add directoryName="CSCode" />
			</codeSubDirectories>
		</compilation>
		<sessionState timeout="600" mode="InProc" />
		<httpRuntime executionTimeout="240000" maxRequestLength="2147483647" requestValidationMode="2.0" targetFramework="4.6" />
		<httpModules>
			<add type="QueryStringModule" name="QueryStringModule" />
		</httpModules>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<add name="QueryStringModule" type="QueryStringModule" preCondition="managedHandler" />
		</modules>
		<defaultDocument enabled="true">
			<files>
				<clear />
				<add value="Login.aspx" />
				<add value="frmUnderConstruction.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>