<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FolderPath" value="UploadFiles\"/>
    <add key="FileSize" value="20"/>
    <add key="SessionDuration" value="60"/>
    <add key="strConn" value="server=ey-vac-srv.database.windows.net;database=db_EY_VAC_EYDemo;uid=astixadmin;pwd=astix@123qazwsx;connection timeout=0"/>
    <add key="FromAddress" value="axiatafastforward.cdi@axiatafastforward.com"/>
    <add key="PortNo" value="587"/>
    <add key="MailServer" value="smtp.sendgrid.net"/>
    <add key="MailUser" value="Mails_Jyoti"/>
    <add key="MailPassword" value="JS@123456"/>
    <add key="MailTo" value="jyoti@astixsolutions.com"/>
    <add key="MailCc" value="jyotiarora4@gmail.com"/>
    <add key="MailBcc" value="jyoti@astixsolutions.com"/>
    <add key="SupportMail" value="astix@astixsolutions.com"/>
    <add key="SupportContactNo" value="999999"/>
    <add key="flgActualUser" value="2"/>
    <!--1 for actual and 2 for Test-->
    <add key="TestURL" value="https://www.ey-virtualsolutions.com/Assessment1"/>
    <add key="ErrMailTo" value="jyoti@astixsolutions.com"/>
    <add key="webhookURL" value="http://104.211.187.125/AxiataAssessment_Staging/"/>
    <add key="apiRole" value="1"/>
    <add key="apiUser" value="admin@in.ey.com"/>
    <add key="apiPassword" value="Eyadmin@9876"/>
    <add key="apiAuthentication" value="https://betaekapi.eklavvya.com/Institute/Login"/>
    <add key="AssignCandidateToExamEY" value="https://betaekapi.eklavvya.com/EY/AssignCandidateToExamEY"/>
    <add key="CreateCandidateDataEY" value="https://betaekapi.eklavvya.com/EY/CreateCandidateDataEY"/>
    <add key="ReportGenerationEY" value="https://betaekapi.eklavvya.com/EY/ReportGenerationEY"/>
    <add key="LogPath" value="F:\Applications\WebApplications\HRApplications\Eyvirtualsolutions\EY_VAC_Demo\"/>
  </appSettings>
  <connectionStrings>
    <add name="strConn" connectionString="server=ey-vac-srv.database.windows.net;database=db_EY_VAC_EYDemo;uid=astixadmin;pwd=astix@123qazwsx;connection timeout=0"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/error.aspx"/>
    <compilation debug="true" targetFramework="4.7.2">
      <codeSubDirectories>
        <add directoryName="VBCode"/>
        <add directoryName="CSCode"/>
      </codeSubDirectories>
    </compilation>
    <sessionState timeout="600" mode="InProc"/>
    <httpRuntime executionTimeout="240000" maxRequestLength="2147483647" requestValidationMode="2.0" targetFramework="4.6"/>
    <httpModules>
      <add type="QueryStringModule" name="QueryStringModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="QueryStringModule" type="QueryStringModule" preCondition="managedHandler"/>
    </modules>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Login.aspx"/>
        <add value="frmUnderConstruction.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>